.section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/dushore-cabin.jpg);
  
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; */
}